.progress-ring {
    width: 11.2rem;
    height: 11.2rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(240, 240, 240);
}

.progress-ring-in {
    width: 9rem;
    height: 9rem;
    background: white;
    border-radius: 50%;
}
